/* preview */
.mail-preview {
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
}

.mail-preview.unread {
    background-color: var(--mail-preview-bg);
}

.mail-preview.read {
    background-color: var(--mail-preview-read-bg);
}

.mail-preview:hover {
    cursor: pointer;
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}

.mail-markers, .mail-sender, .mail-subject,.mail-body {
    padding-right: 10px;
}

/* markers */
.mail-markers * {
    padding-left: 5px;
    color: var(--mail-preview-markers);
}

.mail-preview:hover .mail-markers * {
    color: var(--mail-preview-txt);
}

/* sender */
.mail-sender {
    min-width: 200px;
}

.mail-sender.unread {
    font-weight: 700;
}

.mail-sender.read {
    font-weight: 400;
}

/* subject */
.mail-subject.unread {
    font-weight: 700;
}

.mail-subject.read {
    font-weight: 400;
}

/* date */
.mail-date {
    margin-left: auto;
    font-size: .75rem;
    color: var(--mail-preview-date-txt);
    padding-right: 15px;
}

.mail-date.unread {
    font-weight: 700;
}

.mail-date.read {
    font-weight: 400;
}
