:root {
    --clr1: #F5F5F5;
    --clr2: #FDFDFD;
    --clr3: #DBDBDB;
    --clr4: #D4DEEE;
    --clr5: #4285F3;
    --clr6: #EA4335;
    --clr7: #FBBC09;
    --clr8: #565656;
    --clr9: #2d2d2d;

    --mail-sidebar-bg: #f6f8fc;
    --mail-sidebar-txt: #202124;
    --mail-sidebar-select: #d3e3fd;
    --mail-sidebar-hover: #e1e7ee;

    --mail-preview-bg: #ffffff;
    --mail-preview-read-bg: #f2f6fc;
    --mail-preview-txt: #202124;
    --mail-preview-date-txt: #5f6368;
    --mail-preview-border: #e1e7ee;
    --mail-preview-markers: #c7c8c7;

    --mail-txt1: #202124;
    --mail-txt2: #5f6368;
    --mail-icons1: #202124;
    --mail-icons2: #c7c8c7;
    --mail-border: #e1e7ee;


}