.note-preview {
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0px 1px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: #fff;
    border-color: #e0e0e0;


    min-width: 120px;
    min-height: 100px;

    break-inside: avoid;
    line-break: anywhere;
}


.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}