.note-preview {
    margin: 10px;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0px 1px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    background-color: #fff;
    border-color: #e0e0e0;


    min-width: 200px;
    min-height: 80px;

    break-inside: avoid;
    line-break: anywhere;
    position: relative;
}


.note-preview h1 {
    font-size: 1rem;
    font-weight: 800;
    margin: 0px;
}

.note-preview h2 {
    font-size: 0.9rem;
    font-weight: 800;
    padding: 0px;
    margin: 16px 0px;
}


.note-preview p {
    font-size: 0.8rem;
    margin: 14px 0px 0px;
}


.note-preview img {
    max-width: 260px;
    height: fit-content;
    margin: 0px 0px 16px 0px;
}


.note-preview:hover {
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}


.note-editor {
    position: absolute;
    bottom: 0;
    right: 0;
}


.note-preview button, .note-preview .note-editor button {
    background-color: transparent;
    border: none;
    height: 46px;
    opacity: 0%;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}


.note-preview button:hover, .note-preview .note-editor button:hover {
    transform: scale(1.2);
}


.pin-btn {
    position: absolute;
    top: 0;
    right: 0;
}


.note-preview:hover .note-editor button, .note-preview:hover .pin-btn {
    opacity: 50%;
}

.is-pinned  {
    opacity: 60%;
}


.is-not-pinned  {
    opacity: 0%;
}