/* *dt first */
/* desktop */
@media (min-width: 480px) {
    .mail-main-content {
        flex-grow: 4;
        max-width: 80vw;
        min-height: 80vh;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 10px;
        border-radius: 12px;
    }
}

/* mobile */
@media (max-width: 480px) {
    .mail-main-content {
        flex-grow: 4;
        max-width: 80vw;
        min-height: 80vh;
        background-color: #fff;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-right: 10px;
        border-radius: 12px;
    }
}
