.note-add {
    display: block;
    margin: 10px;
}


.note-add form {
    max-width: 600px;
    margin: 16px auto 16px auto;
    height: 46px;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    background-color: #fff;
    border-color: #e0e0e0;
    overflow: hidden;
    max-height: 600px;
    overflow-y: auto;
    position: relative;
}


.note-add form input {
    width: 344px;
    height: auto;
    border: none;
    background-color: transparent;
    display: inline-block;
    outline: none;
    padding-left: 10px;
    padding: auto 0px;
    position: absolute;
    top: 50%;              
    transform: translate(0, -50%)
}


.note-add form .input-btns {
    display: inline-block;
    position: absolute; 
    right: 0;
    height: 46px;
}


.note-add form .input-btns button {
    background-color: transparent;
    border: none;
    height: 46px;
    opacity: 50%;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}


.note-add form .input-btns button:hover {
    background-color: transparent;
    border: none;
    height: 46px;
    opacity: 50%;
    cursor: pointer;
    transform: scale(1.2);
}