header {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}


.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
}


nav a {
    margin: .5em;
}


nav a:active {
    color: var(--clr8);
}


nav a.active {
    color: var(--clr9);
    font-weight: bold;
}