header {
    box-shadow: rgba(0, 0, 0, 0.027) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}


nav a {
    font-size: 0.8rem;
    margin: 10px;
}


nav a:hover {
    color: var(--clr8);
}


nav a:active {
    color: var(--clr8);
}


nav a.active {
    color: var(--clr9);
    font-weight: bold;
}